#add-card .panel #steep{
	position:relative;
	z-index: 100;}
#add-card .panel #steep p{
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
}
ul#main-navigation li,ul#subpages li,ul#category-nav li,.panel table .icon-button, #vote-cloud li,.card-options .icon-button,.card-options .counter,.gallery-item .icon-button,.list-col,button, .button{
    zoom: 1;
    *display: inline;
}
.card-options .icon-button {
   zoom: 1;
   filter:alpha(opacity=40);
}
.card-options .icon-button:hover {
    filter:alpha(opacity=60);
}